junk/*
CMakeCache.txt
CMakeFiles/*
Makefile
Makefile.bak
nqp-rx
nq-nqp
*.DS_Store
cmake_install.cmake
src/Parser/Grammar.output
src/Parser/Grammar.cpp
src/Parser/Grammar.hpp
src/Parser/location.hh
src/Parser/position.hh
src/Parser/stack.hh
src/Parser/tokens.c
build/*
*.swp
*.bak
Testing/*
CTestTestfile.cmake

